/*
@page template
*/

#headline {

}
span.field.field--name-title.field--type-string.field--label-hidden {
    color: #fff;
    font-family: Courier;
    font-size: 42pt;
    text-transform: uppercase;
    font-weight: bolder;
    transition: 0.9s;
}

span.field.field--name-title.field--type-string.field--label-hidden:hover {
    color: #fff;
    opacity: 0.4;
    text-decoration: none;
}


a img {
    width: auto;
}



.feed-icon {
    display: none;
}

a.site-logo {
}

#block-dexone-branding {
    display: inline-block;
}

#headline .container-fluid {
    border-bottom: 1px #56733d solid;
    background: #000;
}

.pager li > a, .pager li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    text-transform: uppercase;
    color: black;
    font-weight: bolder;
}

.pager__item.is-active {
    display: none;
}

.pager__items {
    clear: both;
    text-align: right !important;
}

/*
*Main menu
*/

/*#headline {
      position: fixed;
      width: 100%;
      line-height: 60px;
}*/

ul.menu.primary-menu {
      float: right;
      padding-top: 25px;
      
}

ul.menu.primary-menu li{
      display: inline-block;
      padding: 16px 40px;
      transition: 0.7s;
}

ul.menu.primary-menu li:hover {
      padding: 5px 36px;
      opacity: 0.3;
}

ul.menu.primary-menu li a {
      text-decoration: none;
      color: #000;
      font-size: 17px;
      font-weight: bold;
      text-transform: uppercase;
      transition: 0.7s;
}



li.menu {
      background-color: #fff;

      opacity: 0.4;

}
li.menu :hover {
      
      opacity: 0.3;
}

img.article-img {
    width: 100%;
    height: auto;
}

/*
*Maobile menu
*/

@media(max-width: 786px) {

      .menu-icon {
            display: block;
      }

      ul.menu.primary-menu {
            display: none;
      }      



}      

/**
**Nav togle custom 
*/

.nav-collapse,
.nav-collapse * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}

@media screen and (min-width: 40em) {
  .nav-collapse {
    float: right;
    width: auto;
  }
}

.nav-collapse li {
  float: left;
  width: 100%;
}

@media screen and (min-width: 40em) {
  .nav-collapse li {
    width: auto;
  }
}

.nav-collapse a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  border-top: 1px solid white;
  text-decoration: none;
  background: #f4421a;
  padding: 0.7em 1em;
  color: #fff;
  width: 100%;
  float: left;
}

.nav-collapse a:active,
.nav-collapse .active a {
  background: #b73214;
}

@media screen and (min-width: 40em) {
  .nav-collapse a {
    border-left: 1px solid white;
    padding: 1.02em 2em;
    text-align: center;
    border-top: 0;
    float: left;
    margin: 0;
  }
}

.nav-collapse ul ul a {
  background: #ca3716;
  padding-left: 2em;
}

@media screen and (min-width: 40em) {
  .nav-collapse ul ul a {
    display: none;
  }
}

.nav-toggle {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  text-indent: -300px;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
  color: #fff; /* Edit this to change the icon color */
  font: normal 28px/55px "responsivenav"; /* Edit font-size (28px) to change the icon size */
  text-transform: none;
  text-align: center;
  position: absolute;
  content: "\2261"; /* Hamburger icon */
  text-indent: 0;
  speak: none;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-toggle.active:before {
  font-size: 24px;
  content: "\78"; /* Close icon */
}


/*********************/
#content {
    background: #000;
    position: relative;
    width: 100%;
}

#content p {
    font-size: 18px;
    text-align: center;
    font-family: Courier;
    color: #fff;
    padding: 20px;
}

#sidebar {
    background: black;
    opacity: 0.7;
    border: orange;
}

/*
* footer
*/

.copyright {
    padding: 10px;
    background: #000;
    text-align: center;
    width: 100%;

}
.copyright a{
  font-size: 14px;
  color: #fff;

}

.copyright a:hover{
    text-decoration: none;
    color: grey;
}

.social {
    text-align: center;
    width: 100%;
    height: 170px;
    background: url(social-icon.png) no-repeat center;
}   

.social p {
    padding: 15px;
    color: #000;
    text-transform: uppercase;
    font-family: Courier;
    font-size: 24px;
    font-weight: bold;

}

nav.breadcrumb {
    background: none;
}

nav.breadcrumb ol a {
    color: white;
    text-transform: uppercase;
}
